<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mission_base.arviewer_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/arvos_logo_rgb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ArvosMain"
            android:label="@string/app_name" >
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewer.ArvosViewer"
            android:label="@string/app_name" >
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewer.WebViewer"
            android:label="@string/app_name" >
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

 <activity android:name=".ArvosPreferences"
      android:label="Arvos Preferences">
  </activity>
       
    </application>

</manifest>
